* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition: 0.3s;
}

.light {
  background-color: #f2f4f8;
  color: #222;
}
h2 {
  margin-top: 20px;
  color: inherit;
}
.dark {
  background-color: #121212;
  color: white;
}

.profile-card {
  width: 350px;
  text-align: center;
  padding: 25px;
  border-radius: 20px;
  background-color: white;
  color: #222;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.dark .profile-card {
  background-color: #1f1f1f;
  color: white;
  box-shadow: 0 10px 25px rgba(255, 255, 255, 0.1);
}

.profile-card:hover {
  transform: translateY(-8px);
}

.avatar {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #4f46e5;
}

h1 {
  margin: 15px 0 10px;
  color: #4f46e5;
}

h2 {
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #eef2ff;
  margin: 8px 0;
  padding: 8px;
  border-radius: 10px;
}

.dark li {
  background-color: #333;
}

.status {
  display: inline-block;
  padding: 8px 18px;
  border-radius: 20px;
  font-weight: bold;
}

.online {
  background-color: #d1fae5;
  color: #047857;
}

.offline {
  background-color: #fee2e2;
  color: #b91c1c;
}

.like-text {
  font-size: 18px;
  font-weight: bold;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #4f46e5;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #3730a3;
  transform: scale(1.05);
}

@media (max-width: 480px) {
  .profile-card {
    width: 100%;
  }
}
